@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: my-font;
  src: url("../assets/fonts/IRANSans\(FaNum\)_Light.ttf") format("ttf");
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Light.woff") format("woff");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: "my-font";
}
/* :root { */
  /* Your default theme */
  /* --background: white; */
  /* --foreground: black; */
/* } */

/* [data-theme='dark'] { */
  /* --background: black; */
  /* --foreground: white; */
/* } */